<div class="topbar">
    <div class="container">
        <div id="topbar-right">
            <div style="color: #20903b; font-size: 1rem;">
                0272 612 8610
                <i style="font-size: 1.7rem;margin-left:0.5rem" class="fa fa-phone-square"></i>
            </div>
        </div>
    </div>
</div>