@inherits LayoutComponentBase
<div id="wrapper">
    <AdminSidebar/>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <AdminTopBar/>
            <div class="container-fluid">
                @Body
            </div>
        </div>
         <AdminFooter />
    </div>
</div>